.nav-logo {
    max-width: 12vw;
    padding: 0% 3%;
}

//#icon-logo {
//    max-width: 180px;
//}

.nav-title {
    color: $brand-color;
    padding: 0 3%;
    font-size: 7vw;
    p { margin: 0% 0%; }
//    @media screen and (min-width: 1200px) {
//       font-size: 100%;
//    }
}

.content {
    padding: 1% 1%;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

#member {
    display: flex;
    align-items : center;
    max-width: 540px;
    width: 98%;
    background-color: lightgray;
    padding: 1% 1%;
    margin: 3px;
    font-size: 2.7vw;
    @media screen and (min-width: 1200px) {
       font-size: 100%;
    }
//    border: 2px solid $brand-color;
}

#column {
    margin: 0% 3%;
}

#photo {
    width: 25vw;
    max-width: 200px;
    display: flex;
    align-items : center;
}
