<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="css/screen.css?ver={{ site.data.layout.css_ver }}">
</head>
<body>
    <header>
        <div id="logo">{% include logo.svg %}</div>
        <div id="nav-title"><h1>5 Giornate</h1></div>
    </header>
    <div class="content">
        {{ content }}
    </div>
</body>
</html>
